                            <div class="col">
                                <ul class="nav flex-column">                                        
                                    <li class="nav-item py-1 text-muted">
                                        目录
                                    </li>
                                    {{#foreach navigation}}
                                        <li class="nav-item">
                                            <a href="{{url absolute="true"}}" class="nav-link ps-0 py-1">{{label}}</a>
                                        </li>
                                    {{/foreach}}
                                </ul>
                            </div>



